body {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}


#buttons {
    flex-direction: row;
    margin: 25px;
}

.selection {
    padding: 0;
    margin: 0 25px;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 48px;
}

img {
    border: 5px solid black;
    width: 200px;
    height: 200px;
}